.user {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11172B;
}
.active-user {
  font-size: 1rem;
  min-width: 20em;
  border: 1px solid white;
  border-radius: .8em;
  margin-top: 3em;
  padding: 1em;
}
.active-user__title {
 font-size: 1.8rem;
  color: #EF4741;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid white;
  padding: .2em;
}

span {
  color: #ff6327;
  font-size: 1em;
  text-transform: uppercase;
}

p {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  color: white;
  padding: .2em 1em;
  border-bottom: 1px solid white;
}
