<div class="search"
     *ngIf="show">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      autocomplete="off"
      type="search"
      id="searchInput"
      placeholder="найти базу"
      formControlName="searchValue">
    >
    <div class="form-submit-button">
      <button type="submit"
              [disabled]="form.invalid"
      >Найти
      </button>
    </div>
    <ul class="search-result">
      <li *ngFor="let sportBase of sportBases$ | async" >
        <a routerLink="/detail/{{sportBase.id}}">
          {{sportBase.name}}
        </a>
      </li>
    </ul>
  </form>
</div>
