h2 {
  margin: 0;
  padding: 1.5em .5em .5em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
}

.catalog {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
