.wrapper {
  /*max-width: 400px;*/
  /*flex-basis: calc(100% / 4 - 2em);*/
  /*margin: 1em;*/
  font-size: 1rem;
  background-color: lightsteelblue;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-between;*/
  /*align-items: stretch;*/
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em 0.3em rgba(100, 149, 237, .3);
  overflow: hidden;
}
