<section class="header-toolbar">
  <div class="toolbar-layout">
    <div class="toolbar-logo">
      <img class="sportBaseLogo"
           width="240"
           alt="ROSSPORT"
           src="../../assets/image/logo/header-logo.svg"
      />
    </div>
    <div class="toolbar-links">
      <app-navigation></app-navigation>
    </div>
    <div class="toolbar-actions">
      <ul class="toolbar-actions-items">
        <li *ngIf="!isLoggedIn && showRegister">
          <a routerLink="/signup" class="nav-link">
            sign up
          </a>
        </li>
        <li *ngIf="!isLoggedIn && showRegister">
          <a routerLink="/login" class="nav-link">
            log in
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="#" (click)="logoutClick()" class="nav-link">Logout</a>
        </li>
        <li>
          <a href="#" (click)="searchInputToggle($event)" class="nav-link">
            <img class="searchLogo"
                 width="28"
                 alt="search"
                 src="../../assets/image/logo/search.svg"
            />
          </a>
        </li>
        <li>
          <a routerLink="/add-base" class="nav-link">
            <img class="addLogo"
                 width="30"
                 alt="add"
                 src="../../assets/image/logo/add.svg"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<app-breadcrumb></app-breadcrumb>
<section class="header-outlet">
  <app-form-search [show]="searchShow">
  </app-form-search>
  <flash-messages></flash-messages>
</section>

