<section class="header-toolbar">
  <div class="toolbar-layout">
    <div class="toolbar-logo">
      <img class="sportBaseLogo"
           width="240"
           alt="ROSSPORT"
           src="../../assets/image/logo/header-logo.svg"
      />
    </div>
    <div class="toolbar-links">
      <app-navigation></app-navigation>
    </div>
    <div class="toolbar-actions">
      <ul class="toolbar-actions-items">
        <li (click)="signUpUser()">sign up</li>
        <li (click)="logInUser()">log in</li>
        <li (click)="searchInputToggle($event)">
          <img class="searchLogo"
                 width="28"
                 alt="search"
                 src="../../assets/image/logo/search.svg"
        />
        </li>
        <li (click)="addBaseToggle($event)">
          <img class="addLogo"
                 width="30"
                 alt="add"
                 src="../../assets/image/logo/add.svg"
        />
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="header-outlet">
  <app-form-search [show]="searchShow"></app-form-search>
  <app-add-base [show]="addBaseShow"></app-add-base>
</section>

