.header-toolbar {
  font-size: 1rem;
  background-color: black;
}

.toolbar-layout {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 3em;
  border-bottom: 2px solid gray;
  padding-bottom: .5em;
}

.toolbar-actions {
  color: white;
}

.toolbar-actions-items {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.toolbar-actions-items li {
  font-weight: 600;
  padding: 1em .6em .1em .6em;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid black;

}

.toolbar-actions-items li:hover,
.toolbar-actions-items li:active {
  border-bottom: 2px solid gold;
}

.header-outlet {
  background-color: black;
  width: 100%;
}
