<section class="header-toolbar">
  <div class="toolbar-layout">
    <div class="toolbar-logo">
      <img class="sportBaseLogo"
           width="240"
           alt="ROSSPORT"
           src="../../assets/image/logo/header-logo.svg"
      />
    </div>
    <div class="toolbar-links">
      <app-navigation></app-navigation>
    </div>
    <div class="toolbar-actions">
      <ul class="toolbar-actions-items">
        <li>sign up</li>
        <li>log in</li>
        <li>
          <img class="searchLogo"
                 width="32"
                 alt="search"
                 src="../../assets/image/logo/search.svg"
        />
        </li>
        <li>
          <img class="addLogo"
                 width="34"
                 alt="add"
                 src="../../assets/image/logo/add.svg"
        />
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="header-outlet">
  <app-form-search></app-form-search>
</section>

