<div class="add-base-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="name">
      <label for="name">Ваше имя:</label><br>
      <input
        type="text"
        id="name"
        formControlName="name"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('name')">-->
      <!--Name is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="email">
      <label for="email">Ваше имя:</label><br>
      <input
        type="text"
        id="email"
        formControlName="email"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('name')">-->
      <!--Name is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="phone">
      <label for="phone">Телефон для связи:</label><br>
      <input
        type="text"
        id="phone"
        formControlName="phone"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('phone')">-->
      <!--phone is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="description">
      <label for="description">Ваши требования и пожелания:</label><br>
      <textarea
        name=""
        id="description"
        cols="30"
        rows="10"
        formControlName="description"
      >
  </textarea>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('phone')">-->
      <!--phone is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="addBaseButton">
      <button
        type="submit"
        [disabled]="form.invalid">
        Отправить заявку
      </button>
    </div>
    <pre>{{ form.value | json }}</pre>
  </form>
</div>
