<!--<nav class="base-filter">-->

  <!--<h1>sport base</h1>-->

  <!--<div class="sort">-->

    <!--<div class="collection-sort">-->
      <!--<label>Filter by:</label>-->
      <!--<select>-->
        <!--<option value="/"></option>-->
      <!--</select>-->
    <!--</div>-->

    <!--<div class="collection-sort">-->
      <!--<label>Sort by:</label>-->
      <!--<select>-->
        <!--<option value="/">Featured</option>-->
      <!--</select>-->
    <!--</div>-->

  <!--</div>-->

<!--</nav>-->

<section>
  <h2 class="catalog-title">Каталог</h2>
  <div class="catalog">
    <div *ngFor="let base of bases">
      <app-base-catalog-card [sportBase]="base"></app-base-catalog-card>
    </div>
  </div>
</section>

