:host {
  flex: 0 0 auto;
  background-color: #11172B;
  padding: 1em;
  border-bottom: 2px solid gray;
}

.service-card {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-size: 1rem;
  background-color: #11172B;
  color: white;
}

.service-col {
  flex: 1;
  text-align: center;
}

.service-col__header {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2em;
  padding: .5em;
  font-weight: bold;
  color: white;
  /*text-align: left;*/
}

.service-col__content {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.2em;
  padding: .3em .3em;
  color: white;
}

.service-col__action {
  margin: .8em .3em;;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .8em;
  padding: .6em;
  text-transform: lowercase;
  cursor: pointer;
  min-width: 16em;
  outline: none;
  text-align: center;
  transition: all .18s ease-in-out;
  /*display: block;*/
}

.service-col__action:hover {
  color: white;
  background: #333;
}
