:host {
  flex: 1 0 30em;
}

.slider {
  position: relative;
  height: 100%;
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
  /*position: absolute;*/
  /*left:0;*/
  /*right:0;*/
  /*top:0;*/
  /*bottom:0;*/
}

/*.slider.animating {*/
/*-webkit-transition: -webkit-transform 0.5s;*/
/*transition: -webkit-transform 0.5s;*/
/*transition: transform 0.5s;*/
/*transition: transform 0.5s, -webkit-transform 0.5s;*/
/*will-change: transform;*/
/*}*/
/*.slider.animating .slide__bg {*/
/*-webkit-transition: -webkit-transform 0.5s;*/
/*transition: -webkit-transform 0.5s;*/
/*transition: transform 0.5s;*/
/*transition: transform 0.5s, -webkit-transform 0.5s;*/
/*will-change: transform;*/
/*}*/

