input {
  font-size: 1rem;
  line-height: 1.8em;
  min-width: 16em;
  outline: none;
  color: white;
  border: none;
  padding: 0 .8em;
  border-bottom: 2px solid gray;
  background: transparent;
}

input::placeholder {
  color: gray;
  font-size: 1rem;
}

input:focus::placeholder {
  color: transparent;
}
