.topAction {
  font-size: 1rem;
  width: 2.2em;
  height: 2.6em;
  position: fixed;
  border: 2px solid gray;
  border-radius: .4em;
  z-index: 30;
  cursor: pointer;
  top: 90%;
  left: 85%;
}

.topAction:after {
  content: url("./../../assets/double-arrow-up.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 31;
}
