.add-base-form {
  font-size: 1rem;
  margin: 0 3em;
}

label {
  font-size: 1rem;
  padding: .8em;
}

input:not(.action),
textarea {
  font-size: 1rem;
  line-height: 2em;
  min-width: 80%;
  outline: none;
  color: white;
  border: none;
  padding: 0 .8em;
  border-bottom: 2px solid gray;
  background: transparent;
  resize: none;
}

fieldset {
  border: none;
}

input::placeholder,
textarea::placeholder {
  color: gray;
  font-size: 1rem;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

h2 {
  font-size: 2em;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  padding: .5em;
  margin-left: 3em;
}

button,
.action-label {
  margin: .5em 3em;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .8em;
  padding: .6rem;
  text-transform: lowercase;
  cursor: pointer;
  min-width: 16em;
  outline: none;
  text-align: center;
  transition: all 0.18s ease-in-out;
  display: block;
}

.addBaseActions {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-flow: row wrap;
}
.action-file{
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

button:hover,
.action-label:hover {
  color: white;
  background: #333;
}
