<h2>добавить базу</h2>

<div class="add-base-form" *ngIf="isLoggedIn">
  <form [formGroup]="formAddSportBase" (ngSubmit)="onSubmit()">
    <div class="name">
      <label for="baseName">Спортивная база:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="baseName"
        formControlName="name"><br>
    </div>
    <div class="logo">
      <label for="imagePath">Logo path:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="imagePath"
        formControlName="logo"><br>
    </div>
    <div class="sports" formArrayName="sports">
      <label for="sportName">Вид спорта:</label><br>
      <div *ngFor="let sport of baseSportsControls; let i = index"
           style="margin-top: 10px;"
      >
        <input
          type="text"
          autocomplete="off"
          id="sportName"
          formControlName="{{i}}"><br>
      </div>
      <button
        type="button"
        (click)="onAddSport()"
      >
        Add Sport
      </button>
      <button
        type="button"
        (click)="onDeleteSport(i)"
      >
        Delete Sport
      </button>
    </div>
    <div class="country">
      <label for="baseCountry">Страна:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="baseCountry"
        formControlName="country"><br>
    </div>
    <div class="region">
      <label for="baseRegion">Область:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="baseRegion"
        formControlName="region"><br>
    </div>
    <div class="price">
      <label for="basePrice">Стоимость:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="basePrice"
        formControlName="price"><br>
    </div>
    <div class="accommodation">
      <label for="baseAccommodation">Проживание:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="baseAccommodation"
        formControlName="accommodation"><br>
    </div>
    <div class="meals">
      <label for="baseMeals">Питание:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="baseMeals"
        formControlName="meals"><br>
    </div>
    <div class="description">
      <label for="baseDescription">Подробности о спортивной базе:</label><br>
      <textarea
        id="baseDescription"
        autocomplete="off"
        cols="30"
        rows="3"
        formControlName="description"
      >
  </textarea>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('phone')">-->
      <!--phone is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="infrastructureBasic">
      <label for="baseInfrastructureBasic">Основная спортивная инфраструктура:</label><br>
      <textarea
        id="baseInfrastructureBasic"
        autocomplete="off"
        cols="30"
        rows="3"
        formControlName="infrastructureBasic"
      >
    </textarea>
    </div>
    <div class="infrastructureAdditional">
      <label for="baseInfrastructureAdditional">Дополнительная инфраструктура:</label><br>
      <textarea
        id="baseInfrastructureAdditional"
        autocomplete="off"
        cols="30"
        rows="3"
        formControlName="infrastructureAdditional"
      >
    </textarea>
    </div>
    <div class="infrastructureOther">
      <label for="baseInfrastructureOther">Досуговая инфраструктура: </label><br>
      <textarea
        id="baseInfrastructureOther"
        autocomplete="off"
        cols="30"
        rows="3"
        formControlName="infrastructureOther"
      >
    </textarea>
    </div>
    <div class="images" formArrayName="images">
      <label for="baseImage">Images paths:</label><br>
      <div
        *ngFor="let image of baseImagesControls; let i = index"
        style="margin-top: 10px;"
      >
        <input
          type="text"
          autocomplete="off"
          id="baseImage"
          formControlName="{{i}}"><br>
      </div>
      <button
        type="button"
        (click)="onAddImage()"
      >
        Add Image
      </button>
      <button
        type="button"
        (click)="onDeleteImage(i)"
      >
        Delete Image
      </button>
    </div>
    <div class="addBaseActions">
      <button class="action"
              type="submit"
              [disabled]="formAddSportBase.invalid">
        Отправить
      </button>
    </div>
  </form>
</div>

<div class="add-base-form" *ngIf="!isLoggedIn">
  <form [formGroup]="addBaseForm" (ngSubmit)="onSubmit()">
    <div class="name">
      <label for="name">Ваше имя:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="name"
        formControlName="name"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('name')">-->
      <!--Name is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="email">
      <label for="email">Ваш E-mail:</label><br>
      <input
        type="email"
        autocomplete="off"
        id="email"
        formControlName="email"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('name')">-->
      <!--Name is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="phone">
      <label for="phone">Телефон для связи:</label><br>
      <input
        type="text"
        autocomplete="off"
        id="phone"
        formControlName="phone"><br>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('phone')">-->
      <!--phone is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="description">
      <label for="description">Ваши пожелания:</label><br>
      <textarea
        name=""
        id="description"
        autocomplete="off"
        cols="30"
        rows="3"
        formControlName="description"
      >
  </textarea>
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="required('phone')">-->
      <!--phone is required-->
      <!--</div>-->
      <!--<div-->
      <!--class="error-content"-->
      <!--*ngIf="invalid">-->
      <!--</div>-->
    </div>
    <div class="addBaseActions">
      <label class="action-label" for="file">Прикрепить файл</label><br>
      <input class="action-file"
             id="file"
             type="file"
             value="файл"
             formControlName="file"
      >
      <button class="action"
              type="submit"
              [disabled]="addBaseForm.invalid">
        Отправить заявку
      </button>
    </div>
  </form>
</div>
