<div class="login">
  <div class="login-card">
    <div class="card-body">
      <h1 class="card-header">Login
      </h1>
      <form [formGroup]="login" (ngSubmit)="onSubmit()">
        <div class="email">
          <label for="email">e-mail:</label><br>
          <input
            type="email"
            autocomplete="off"
            id="email"
            formControlName="email">
          <br>
          <!--<div-->
          <!--class="error-content"-->
          <!--*ngIf="required('name')">-->
          <!--Name is required-->
          <!--</div>-->
          <!--<div-->
          <!--class="error-content"-->
          <!--*ngIf="invalid">-->
          <!--</div>-->
        </div>
        <div class="password">
          <label for="password">Password:</label><br>
          <input
            [type]="type"
            autocomplete="off"
            id="password"
            formControlName="password">
          <span (click)="showHidePassword()"
                class="hide-icon">
              <img class="hide-password"
                   width="20"
                   alt="hide"
                   src="../../../assets/image/logo/hide-password.svg"
              />
            </span>
          <br>
          <!--<div-->
          <!--class="error-content"-->
          <!--*ngIf="required('name')">-->
          <!--Name is required-->
          <!--</div>-->
          <!--<div-->
          <!--class="error-content"-->
          <!--*ngIf="invalid">-->
          <!--</div>-->
        </div>
        <input type="submit" value="Login" class="action">
      </form>
    </div>
  </div>
</div>

