.contacts {
  background-color: black;
}
.contacts-card {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  font-size: 1rem;
  background: black;
  color: white;
}

.contacts-coll {
  flex: 1;
  margin: 0 3em;
}

.contacts-coll:last-child {
  border-left: 1px solid gray;
  padding-left: 1em;
}

.contacts__header {
  margin: 0;
  padding: 1em;
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  color: white;
}

.contacts-card h3 {
  font-family: "Franklin Gothic Medium", sans-serif;
  font-size: 2.2em;
  padding: 0.3em 0 0.6em 2em;
  font-weight: bold;
  color: white;
  text-align: left;
}

.contacts-card p {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1.2em;
  padding: 0.3em 0.3em;
  color: white;
}

.soc-link {
  padding: .2em;
}
