<section class="contacts">
  <h2 class="contacts__header">Контакты</h2>
  <div class="contacts-card">
    <div class="contacts-coll">
      <h3>Юридический адрес</h3>
      <p>ООО "Русспорт обеспечение"</p>
      <p>119261, г. Москва, Ленинский пр-т, 78, пом. ll, ком. 5</p>
      <p>ОГРН: 1177746493044</p>
      <p>ИНН: 7736302973</p>
      <p>КПП: 773601001</p>
    </div>
    <div class="contacts-coll">
      <h3>Контакты</h3>
      <p>+7 925 918-22-55 (Viber, WhatssApp)</p>
      <p>+7 495 255-22-75</p>
      <p class="soc-item">
        <a class="soc-link" href="https://vk.com/baseforsports" target="_blank" title="vc"><img
          src="./../../assets/soc-vc.svg" alt="vc"></a>
        <a class="soc-link" href="https://www.facebook.com/baseforsport" target="_blank"
           title="facebook"><img
          src="./../../assets/soc-facebook.svg" alt="facebook"></a>
        <a class="soc-link" href="https://www.instagram.com/sportbases" target="_blank" title="instgram"><img
          src="./../../assets/soc-instagram.svg" alt="instagram"></a>
      </p>
      <a href="mailto:nfo@rossport.org" title="написать на почту">nfo@rossport.org</a>
    </div>
  </div>
</section>
