<div class="detail">
  <h2 class="detail-title">{{sportBase.name}}</h2>
  <div class="detail-header">
    <div class="detail-gallery"></div>
    <div class="detail-map"></div>
  </div>
  <div class="detail-content">
    <div class="detail-content__description">
      <h3>Описание и информация:</h3>
      <p>{{sportBase.description}}</p>
      <h4>Проживание</h4>
      <p> {{sportBase.leave}}</p>
      <h4>Питание</h4>
      <p>{{sportBase.eat}}</p>
      <h4>Стоимость</h4>
      <p>{{sportBase.price}}</p>
    </div>
    <div class="detail-content__infrastructure">
      <h3>Инфраструктура:</h3>
      <p>{{sportBase.infrastructureBasic}}</p>
      <h4>Дополнительная спортивная инфраструктура</h4>
      <p>{{sportBase.infrastructureAdditional}}</p>
      <h4>Досуговая инфраструктура</h4>
      <p>{{sportBase.infrastructureOther}}</p>
    </div>
  </div>
</div>
