<div class="detail">
  <h2 class="detail-title">Дворец водного спорта г. Новополоцк</h2>
  <div class="detail-header">
    <div class="detail-gallery"></div>
    <div class="detail-map"></div>
  </div>
  <div class="detail-content">
    <div class="detail-content__description">
      <h3>Описание и информация:</h3>
      <p>Тренировочная база по плаванию находится в г. Новополоцк. Это современный уютный город на берегу реки Западная
        Двина с населением 100 тыс. человек в 200 км от Минска на севере Беларуси. Для проведения спортивных сборов по
        плаванию здесь созданы все необходимые условия. На спортивной базе Новополоцка проводился чемпионат и кубок
        Беларуси по плаванию. В паре минут ходьбы расположен центральный парк, где можно провести свободное время.
        Гостиница, кафе, бассейн находятся в шаговой доступности, что является большим плюсом при организации
        спортивного лагеря по плаванию.</p>
      <h4>Проживание</h4>
      <p>в гостинице 1-2-х местных номерах со всеми удобствами</p>
      <h4>Питание</h4>
      <p>3-х разовое в кафе.</p>
      <h4>Стоимость</h4>
      <p>От 2100 рублей чел./сутки. В стоимость включено проживание, 3-х разовое питание, аренда спорт сооружений.</p>
    </div>
    <div class="detail-content__infrastructure">
      <h3>Инфраструктура:</h3>
      <h4>Плавательный бассейн</h4>
      <p>длина 50 м. 8 дорожек игровой зал 2 тренажерных зала зал единоборств сауна</p>
      <h4>Дополнительная спортивная инфраструктура</h4>
      <p>Футбольный, Легкоатлетический стадион 8 беговых дорожек по 400-метровому кругу</p>
      <h4>Досуговая инфраструктура</h4>
      <p>боулинг, настольный теннис возможность организации экскурсийа</p>
    </div>
  </div>
</div>
