.nav {
  font-size: 1rem;
  padding: 1em;
}

nav a {
  background: #3a4250;
  color: #fff;
  padding: .5em 2.5em;
  border-radius: 2px;
  margin: 0 .5em;
}

nav a.active {
  color: #b690f1;
  background: #363c48;
}
