<div class="add-base-form">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-add-base-name
      [parent]="form">
    </app-add-base-name>

    <app-add-base-mail
      [parent]="form">
    </app-add-base-mail>

    <app-add-base-phone
      [parent]="form">
    </app-add-base-phone>
    <app-add-base-description
      [parent]="form">
    </app-add-base-description>

    <div class="addBaseButton">
      <button
        type="submit"
        [disabled]="form.invalid">
        Отправить заявку
      </button>
    </div>

    <pre>{{ form.value | json }}</pre>
  </form>
</div>
