.slide__content {
  position: absolute;
  font-size: 1rem;
  max-width: 30%;
  top: 30%;
  left: 10%;
  color: white;
  text-align: center;
  /*z-index: 8;*/
  margin: auto;
  transform: translate(-50% -50%);
  /*-webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;*/
  /*transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;*/
  /*transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;*/
  /*transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;*/
  /*will-change: transform, opacity;*/
  /*-webkit-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/
  /*opacity: 0;*/
}

.slide__header {
  /*font-family: 'Exo 2', Helvetica, Arial, sans-serif;*/
  font-size: 2.5em;
  margin-bottom: 1em;
  color: white;
}

.slide__description {
  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  line-height: 1.5em;
  font-size: 1.2em;
  margin-bottom: 2em;
  color: white;
  text-align: left;
}

.slide__action {
  font-size: 1em;
  line-height: 1.5em;
  border: 1px solid white;
  border-radius: .8em;
  color: white;
  padding: .6rem;
  text-transform: lowercase;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.slide__action:hover {
  color: white;
  border: 1px solid white;
}

.slide__action:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 87%;
  height: 65%;
  padding: .1em;
  background: gray;
  border-radius: .6em;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}

.slide__action.active:before,
.slide__action:hover:before {
  transform: translate(-50%, -50%) scale(1);
}
