p {
  margin: 0;
}

.toolbar {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.angularLogo {
  margin: 0 1em;
}

.nav {
  margin: 0 0 10px;
  padding: 0 0 20px;
  border-bottom: 1px solid #dce5f2;
}

nav a {
  background: #3a4250;
  color: #fff;
  padding: 4px 10px;
  margin: 0 2px;
  border-radius: 2px;
}

nav a.active {
  color: #b690f1;
  background: #363c48;
}
