.slide.active .slide__overlay,
.slide.active .slide__text {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 70vh;
  background-size: cover;
  will-change: transform;
  z-index: -10;
}
/*.slide:nth-child(1) {*/
  /*left: 0;*/
/*}*/
/*.slide:nth-child(1) .slide__bg {*/
  /*left: 0;*/
  /*background-image: url("./../../../assets/slider-3.jpg");*/
/*}*/
/*.slide:nth-child(1) .slide__overlay-path {*/
  /*fill: #e99c7e;*/
/*}*/
/*@media (max-width: 991px) {*/
  /*.slide:nth-child(1) .slide__text {*/
    /*background-color: rgba(233, 156, 126, 0.8);*/
  /*}*/
/*}*/
/*.slide:nth-child(2) {*/
  /*left: 100%;*/
/*}*/
/*.slide:nth-child(2) .slide__bg {*/
  /*left: -50%;*/
  /*background-image: url("./../../../assets/slider-2.jpg");*/
/*}*/
/*.slide:nth-child(2) .slide__overlay-path {*/
  /*fill: #e1ccae;*/
/*}*/
/*@media (max-width: 991px) {*/
  /*.slide:nth-child(2) .slide__text {*/
    /*background-color: rgba(225, 204, 174, 0.8);*/
  /*}*/
/*}*/
/*.slide:nth-child(3) {*/
  /*left: 200%;*/
/*}*/
/*.slide:nth-child(3) .slide__bg {*/
  /*left: -100%;*/
  /*background-image: url("./../../../assets/slider-1.jpg");*/
/*}*/
/*.slide:nth-child(3) .slide__overlay-path {*/
  /*fill: #adc5cd;*/
/*}*/
/*@media (max-width: 991px) {*/
  /*.slide:nth-child(3) .slide__text {*/
    /*background-color: rgba(173, 197, 205, 0.8);*/
  /*}*/
/*}*/
/*.slide:nth-child(4) {*/
  /*left: 300%;*/
/*}*/
/*.slide:nth-child(4) .slide__bg {*/
  /*left: -150%;*/
  /*background-image: url("./../../../assets/slider-4.jpg");*/
/*}*/
/*.slide:nth-child(4) .slide__overlay-path {*/
  /*fill: #cbc6c3;*/
/*}*/
/*@media (max-width: 991px) {*/
  /*.slide:nth-child(4) .slide__text {*/
    /*background-color: rgba(203, 198, 195, 0.8);*/
  /*}*/
/*}*/


/*@media (max-width: 991px) {*/
  /*.slide__overlay {*/
    /*display: none;*/
  /*}*/
/*}*/


/*@media (max-width: 991px) {*/
  /*.slide__text {*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 20rem;*/
    /*text-align: center;*/
    /*-webkit-transform: translateY(50%);*/
    /*transform: translateY(50%);*/
    /*-webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;*/
    /*transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;*/
    /*transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;*/
    /*transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;*/
    /*padding: 0 1rem;*/
  /*}*/
/*}*/

/*@media (max-width: 991px) {*/
  /*.slide__text-heading {*/
    /*line-height: 20rem;*/
    /*font-size: 3.5rem;*/
  /*}*/
/*}*/
/*.slide__text-desc {*/
  /*font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  /*font-size: 1.8rem;*/
  /*margin-bottom: 1.5rem;*/
/*}*/
/*@media (max-width: 991px) {*/
  /*.slide__text-desc {*/
    /*display: none;*/
  /*}*/
/*}*/

/*@media (max-width: 991px) {*/
  /*.slide__text-link {*/
    /*display: none;*/
  /*}*/
/*}*/
