.slider-container {
  /*position: relative;*/
  width: 100%;
  height: 100%;
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*user-select: none;*/
}

.slides {
  width: 100%;
  height: 100%;
  position: relative;
  /*height: 100%;*/
}
/*.slider.animating {*/
  /*-webkit-transition: -webkit-transform 0.5s;*/
  /*transition: -webkit-transform 0.5s;*/
  /*transition: transform 0.5s;*/
  /*transition: transform 0.5s, -webkit-transform 0.5s;*/
  /*will-change: transform;*/
/*}*/
/*.slider.animating .slide__bg {*/
  /*-webkit-transition: -webkit-transform 0.5s;*/
  /*transition: -webkit-transform 0.5s;*/
  /*transition: transform 0.5s;*/
  /*transition: transform 0.5s, -webkit-transform 0.5s;*/
  /*will-change: transform;*/
/*}*/

